
.header{
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.long-text {
    -fx-font-size: 16;
}
.small-label {
    -fx-font-size: 14;
}

.location {
    -fx-fill: #777;
    -fx-underline: true;
}
.card{
    -fx-background-color: white;
    -fx-background-radius: 10 ;
    -fx-effect: dropshadow(two-pass-box,rgba(0,0,0,0.15), 12, 0.09 , 0 , 3);
}

.tag {
    -fx-background-color:#0c859980;
    -fx-text-fill:white ;
    -fx-font-size: 8.5;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 0 6 0 6;
}

.text-desc{
    -fx-cursor: hand;
    -fx-fill: rgb(65, 65, 65);
    -fx-border-color: #333;
    -fx-border-width: 0 0 1 0;
}
