/*Variables for COLORS*/
*{
    -fx-primaryColor: white;
    -fx-labelColor: #333;
    -fx-subColor:#0c8599;

    -fx-btnHover: #141415;
    -fx-pressedColor: #6666;
    -fx-BoxesColor: #E6E6E6;
    -fx-buttonColor: #333333;
    -fx-button-hover-color: #444444;
    -fx-button-border-radius: 30;

    -fx-main-color: #333;
    -fx-main-color-tint-1: #999;
    -fx-borderColor:#333;
    -fx-text-color:#333;
    -fx-text-medium-color: #555;
    -fx-text-light-color: #777;
    -fx-accent-color:  #0c8599;
    -fx-accent-color-transparent: rgb(12, 133, 153, 0.7);
    -fx-accent-shade-1: #0b7285;
    -fx-accent-tint-1: #e3fafc;

    -fx-whitespace-color: white;

    -fx-border-radius:0;/*THIS CODE MEANS THAT EVERYTHING BY DEFAULT HAVE RADIUS "0" */

    -mfx-purple: #333;

}

/* MFX STEPPER STYLES*/

/*main-pane and main-pane--with-border was put to increase specificity*/
.mfx-stepper {
    -mfx-base-color: -fx-main-color;
    /*-mfx-base-color: -fx-accent-color;*/
    -mfx-progress-color: -fx-accent-color-transparent;
}

.main-pane.main-pane--with-border .mfx-stepper-toggle:selected #circle {
    -fx-stroke: -fx-accent-color;
    -fx-background-color: -fx-accent-color;
}

.main-pane.main-pane--with-border .mfx-stepper-toggle:selected .mfx-text-field {
    -fx-text-fill: -fx-text-color;

}
.main-pane.main-pane--with-border .mfx-stepper-toggle .mfx-text-field {
    -fx-text-fill:-fx-text-light-color;
    -fx-font-size: 12;
    -fx-font-weight: 400;
}


.main-pane.main-pane--with-border .mfx-stepper-toggle:completed #circle {
    -fx-stroke: -fx-accent-color;
    -fx-fill: -fx-accent-color;
    -fx-background-color: -fx-accent-color;
}

.main-pane.main-pane--with-border .mfx-stepper .buttons-box .mfx-button:focused {
    -fx-background-color: -fx-main-color;
    -fx-border-color: -fx-main-color;
}

.main-pane.main-pane--with-border .mfx-stepper .buttons-box .mfx-button {

    -fx-background-color: #333;
    -fx-border-color: #333;
    -fx-background-radius: 9;
    -fx-border-radius: 9;
    -fx-cursor: hand;
    -fx-font-size: 14;
}
.main-pane.main-pane--with-border .mfx-stepper .buttons-box .mfx-button:hover {
    -fx-background-color: #555;
}
.main-pane.main-pane--with-border .mfx-stepper .buttons-box .mfx-button .text {
    -fx-fill: #eee;
}

/* MFX TEXT FIELD STYLES*/
.mfx-text-field {
    -mfx-main: -fx-accent-color;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: -fx-accent-tint-1; /* Selected text highlight */
    -fx-prompt-text-fill: -mfx-text-me; /* Prompt text color */
}

/* COMBO BOX STYLES*/
.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: -fx-accent-shade-1;
}

.mfx-combo-box-cell {
    -mfx-main: -fx-accent-color;
    -mfx-hover: rgba(12, 133, 153, 0.1); /*MAIN COLOR BUT TRANSPARENT*/
    -mfx-selected: rgba(12, 133, 153, 0.2);
}


/*DATE PICKER CUSTOMIZATION*/

.mfx-date-cell:current {
    -fx-text-fill: -fx-accent-color;

}

.mfx-date-cell:selected {
    -fx-background-color: -fx-accent-color;
}


.mfx-date-picker:focus-within .icon {
    -mfx-color: -fx-accent-color;
}

.mfx-date-picker .date-picker-popup .months-combo:focus-within,
.mfx-date-picker .date-picker-popup .years-combo:focus-within {

    -fx-text-fill: -fx-accent-color;
}

.mfx-date-picker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected .label,
.mfx-date-picker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected .label {
    -fx-text-fill: -fx-accent-color;
}

/* DEFAULT TEXT STYLES*/

.page-heading{
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

.long-text {
    -fx-fill: #555;
    -fx-line-spacing: 1.6;
}
.heading-1{
    -fx-font-size: 30;
    -fx-fill: -fx-main-color;
    -fx-font-weight: bold;

}
.heading-label {
    -fx-text-fill: #333;
    -fx-line-spacing: 1.1;

}

.small-label {
    -fx-text-fill: #333;
    -fx-fill: #333;
}
.small-label--bold {
    -fx-font-weight: 800;
}
/* LAYOUT STYLES*/

.root{
    
}

.main-pane{
    -fx-background-color: -fx-whitespace-color;
}
.main-pane--with-border {
    -fx-border-color: -fx-accent-color;
    -fx-border-width: 0 0 12 0;
}

.underline{
    -fx-border-color:-fx-labelColor;
    -fx-border-width: 0 0 1 0;
}

/*TEXT FIELDS STYLES*/

.textfields {
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-border-width: 0.5;
    /*-fx-padding: 0 0 0 0;*/
    -fx-effect: dropshadow(two-pass-box,rgba(0,0,0,0.05),20 , 0.01 , 0 , 3);
}
.textfields:focused{
    -fx-border-color:-fx-borderColor;
    -fx-accent:-fx-subColor;
  
}
.textfields:focus-within  {
    -fx-text-fill:-fx-borderColor;
    -fx-border-color:-fx-borderColor;
}
.textfields:focus-within .floating-text{
    -fx-text-fill:-fx-subColor;
}
.textfields .floating-text{
    /*-fx-font-family:"Berlin Sans FB";*/
    -fx-text-fill:-fx-text-light-color;
    -fx-font-weight: 600;
    -fx-font-size: 14;
}

/* DATE BOX STYLES*/

.date-box:focus-within {
    
    -fx-border-color : -fx-borderColor;
}
.date-box .floating-text{
    /*-fx-font-family:"Berlin Sans FB";*/
}
.date-box:focus-within .floating-text{
    -fx-text-fill:-fx-subColor;
   
}
.date-box:focus-within .icon {
	-mfx-color: -fx-subColor;
}

.date-box .date-picker-popup .left-arrow .mfx-ripple-generator,
.date-box .date-picker-popup .right-arrow .mfx-ripple-generator,
.date-box .date-picker-popup .months-combo .mfx-icon-wrapper .mfx-ripple-generator,
.date-box .date-picker-popup .years-combo .mfx-icon-wrapper .mfx-ripple-generator
{
	-mfx-ripple-color: -fx-subColor;
}
.date-box .date-picker-popup .months-combo:focus-within,
.date-box .date-picker-popup .years-combo:focus-within {
	/*-fx-background-color: #f8f7fa;*/
    -fx-background-color: -fx-accent-color;
	-fx-text-fill: -fx-subColor;
}
.date-box:focus-within .caret .mfx-font-icon {
	-mfx-color: -fx-subColor;
}

.date-box .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:hover,
.date-box .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:hover {
	/*-fx-background-color: rgba(248,169,24,0.3);*/
    -fx-background-color: -fx-accent-color;
}
.date-box .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected,
.date-box .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected {
	/*-fx-background-color: rgba(248,169,24,0.6);*/
    -fx-background-color: -fx-accent-color;
}
.date-box .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected .label,
.date-box .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected .label {
	-fx-text-fill: black;
}

.datebox .date-picker-popup .week-day {

	-fx-text-fill: green;

}
/* RADIO BUTTON STYLES*/

.mfx-radio-button {
    -mfx-main: -fx-text-color;
}

.mfx-radio-button .mfx-ripple-generator {
    -mfx-ripple-color: -fx-accent-color;
}

/* BUTTON STYLES */


.btns{
   
    -fx-font-size : 15;
    -fx-background-color: -fx-buttonColor;
    -fx-text-fill:-fx-primaryColor;
    -fx-font-family:"Berlin Sans FB";
    -fx-border-radius: 7;
    -fx-background-radius: 7;

}
.btns:hover{
    -fx-background-color:#444;
    -fx-font-family:"Berlin Sans FB";
}

.delete-btns .mfx-ripple-generator
{
    -mfx-ripple-color: rgba(248,0,0,0.6);
}

.delete-btns{
    -fx-border-color : #333;

}


/* Useless cuz MFXButton has already pressed effect
.btns:pressed{
    -fx-background-color:-fx-pressedColor;
    
}*/



/*.mfx-combo-box:focus-within {
    -fx-text-fill:-fx-borderColor;
    -fx-border-color:-fx-borderColor;
}
.mfx-combo-box .floating-text, .mfx-combo-box .caret{
      -fx-text-fill:-fx-textColor;
      -fx-fill:#333;
}
 .mfx-combo-box:focus-within .caret{
   -fx-text-fill:#333;     
}*/
