/*
Main Color: #333
Accent Color: #0c8599

Font Color:
Default #555 <--- Light mode , #ddd <--- Dark mode

Headings #333 <--- Light mode , #eee <--- Dark mode



*/

.card-label{
 -fx-text-fill: #333;
    -fx-fill: #333;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}
.card-text {
    -fx-fill: #555;
    -fx-line-spacing: 1.7;
    -fx-font-size: 16;
}
.heading-label {
    -fx-text-fill: #333;
    -fx-fill: #333;
}

.card {
    -fx-effect: dropshadow(two-pass-box,rgba(0,0,0,0.15), 20, 0.09 , 0 , 8.5);
    -fx-background-color: #fff;
    -fx-border-radius: 11;
    -fx-background-radius: 11;
    -fx-text-fill: #333;

    /*-fx-border-width: 10 0 0 0;*/
    /*-fx-border-color: #0c8599 ;*/
}

.sign-up-heading-2 {
    -fx-text-fill: -fx-text-color;
}

.sign-up-label-sm {
    -fx-font-size: 16;
    -fx-font-weight: 800;
}

.large-heading {
    -fx-font-weight: bold;
    -fx-font-size: 48;
    -fx-fill: -fx-main-color;
}

