
.nav-pane:hover{
    -fx-background-color: rgba(200,200,200,0.2);

}
.nav-pane{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box,rgba(0,0,0,0.15), 12, 0.09 , 0 , 3);

}

.nav{
    -fx-background-color: #ffffff;
    -fx-border-color: #66666680;
    -fx-border-width:0 1 0 0;

}